<h3>About Me</h3>
<div class="about">I have been a teacher of guitar, German, math, science, and literature. Now I am on the path to become a web developer. Contact me at colinalford@gmail.com</div>
<img src="/images/me_chair.JPG" alt="Little Colin, Big Chair" />
