<form id="new_blog_post" class="blog" action="/api/blog/new" method="POST">
    <div id="title-container">
        <label for="title">Title:</label>
        <input type="text" name="title">
    </div>
    <button type="submit" value="Submit">Post</button>
</form>
<div id="body-container">
    <textarea rows="4" cols="50" name="body" class="ckeditor" form="new_blog_post">Your blog here</textarea>
</div>
