<!DOCTYPE html>
<html>
    <head>
        <% include ./partials/head %>
    </head>
    <body>
        <header>
            <% include ./partials/header %>
        </header>
        <main>
            <%- include ./partials/blog_post %>
            <div id="comments">
                <h3>Join the Discussion:</h3>
                <%- include ./partials/comment_form %>
            </div>
            <a href='http://www.freepik.com/free-vector/vector-robot-silhouettes-free-for-download_714901.htm'>Robot Graphics by Freepik</a>
            <aside class="hidden-block">
                <% include ./partials/aside %>
            </aside>
        </main>
        <script type="text/javascript" src="/javascripts/ajax.js"></script>
        <script>
            var pathArray = window.location.pathname.split('/');
            var path = pathArray[3];
            Comments.getComments(path).done(function(result) {
                Comments.renderComments(result);
            })

            var hr = document.getElementsByTagName('hr');
            var blog_id_value = hr[0].getAttribute('id');
            var form_input = document.getElementById('blog_id_input');
            form_input.value = blog_id_value;
        </script>
    </body>
</html>
