<!DOCTYPE html>
<html>
    <head>
        <% include ./partials/head %>
    </head>
    <body>
        <header>
            <% include ./partials/header %>
        </header>
        <main>
            <%- include ./partials/blog_post %>
            <div id="comments">
                <h3>Join the Discussion:</h3>
                <%- include ./partials/comment_form %>
            </div>
            <%- include ./partials/freepik.ejs %>
            <aside class="hidden-block">
                <% include ./partials/aside %>
            </aside>
        </main>
        <%if (isAuthenticated) {%>
        <div class="enable"><div>
            <%}%>
        <script type="text/javascript" src="/javascripts/ajax.js"></script>
        <script src="/javascripts/blog_view.js"></script>
    </body>
</html>
