<!DOCTYPE html>
<html>
    <head>
        <% include ./partials/head %>
    </head>
    <body>
        <header>
            <% include ./partials/header %>
        </header>
        <main>
            <% include ./partials/signup_form %>
            <aside class="hidden-block">
                <% include ./partials/aside %>
            </aside>
        </main>
    </body>
</html>
