html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
}

html {
    margin-bottom: 1px;
}

body {
    font-size: 1em;
    /*background-color: #EFEEED;*/
    color: #292828;
    font-family: "Courier New", Courier, monospace;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.414em;
}

a {
  color: #00B7FF;
}

/* Sprites! */
.robot0 {
    background: url('imgs/2.png') no-repeat -57px -20px;
	background-size: 393px 399px;
	width: 71px;
	height: 100px;
}

.robot1 {
    background: url('imgs/2.png') no-repeat -142px -24px;
	background-size: 393px 399px;
	width: 99px;
	height: 103px;
}

.robot2 {
    background: url('imgs/2.png') no-repeat -265px -19px;
	background-size: 393px 399px;
	width: 66px;
	height: 101px;
}

.robot3 {
    background: url('imgs/2.png') no-repeat -54px -144px;
	background-size: 393px 399px;
	width: 75px;
	height: 98px;
}

.robot4 {
    background: url('imgs/2.png') no-repeat -146px -136px;
	background-size: 393px 399px;
	width: 89px;
	height: 113px;
}

.robot5 {
    background: url('imgs/2.png') no-repeat -259px -142px;
	background-size: 393px 399px;
	width: 73px;
	height: 100px;
}

.robot6 {
    background: url('imgs/2.png') no-repeat -63px -258px;
	background-size: 393px 399px;
	width: 56px;
	height: 117px;
}

.robot7 {
    background: url('imgs/2.png') no-repeat -162px -264px;
	background-size: 393px 399px;
	width: 72px;
	height: 103px;
}

.robot8 {
    background: url('imgs/2.png') no-repeat -261px -260px;
	background-size: 393px 399px;
	width: 76px;
	height: 107px;
}

header {
    position: fixed;
    clear: both;
    width: 100%;
    top: 0px;
    z-index: 1000;
}

.header-img {
    background-image: url('../images/2.png');
    background-position: 50% -255px;
	background-size: 393px 399px;
    background-repeat: repeat-x;
	width: 100%;
	height: 116px;
}

.title-div {
    text-align: center;
    clear: both;
    position: relative;
    color: #292828;
    align-content: white;
    z-index: 800;
    background: white;
}

.link-container {
    position: relative;
    display: inline-block;
}

.link-container h1 {
    color: #292828;
}

.login-container {
    position: absolute;
    top: 5px;
    right: 0;
    margin-right: 5%;
    color: #EFEEED;
    text-align: center;
    font-size: 1.414em;
    height: 100%;
}

main {
    position: relative;
    top: 149px;
}

#lastPostsLoader {
    clear: both;
}

.blog-post, #comments, .form_area {
    width: 90%;
    margin: 2%;
    margin-left: 5%;
    margin-right: 5%;
    position: relative;

}

.blog-post {
    margin-top: 3%;
}

.blog-post .title {
    text-align: left;
    margin-bottom: .5em;
}

.blog-post hr {
    border: none;
    height: 1px;
    margin-bottom: .5em;
    background: black;
    background-image: -webkit-linear-gradient(left, black, white);
    background-image: -moz-linear-gradient(left, black, white);
    background-image: -ms-linear-gradient(left, #E6E6E6, black, #E6E6E6);
    background-image: -o-linear-gradient(left, #E6E6E6, black, #E6E6E6);
}

.blog-post .date, .comment-date {
    font-style: italic;
    font-size: .85em;
}

.blog-post {
    text-align: left;
    margin-bottom: .5em;
}

.blog-post .body, .comment-body, aside {
    font-family: 'Open Sans' sans-serif;
    font-size: 1.15em;
}

#comments {
    margin-top: 5%;
}

.comment-container {
    margin-top: 5%;
    margin-bottom: 4%;
}

.comment-body {
    margin-left: 4%;
    margin-top: 1%;
    margin-bottom: 1%;
    border-left: 2px solid black;
    padding-left: 1%;
}

.comment-user {
    font-weight: bold;
    text-align: left;
}

.link-spanner{
  position:absolute;
  width:100%;
  height:100%;
  top:0;
  left: 0;
  z-index: 1;
}

.error-message {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    border: 5px solid red;
}

aside {
    position: relative;
    text-align: center;
    background-color: #F4F4F4;
    margin-top: 2%;
    margin-bottom: 8%;
    padding-bottom: 1%;
    -webkit-box-shadow: 0px 7px 5px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    0px 7px 5px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         0px 7px 5px 0px rgba(50, 50, 50, 0.75);
}

aside h3 {
    margin-bottom: 2%;
    padding-top: 2%;
    font-family: "Courier", monospace;
}

#my-picture {
    width: 200px;
    height: 200px;
    -webkit-box-shadow: 0px 7px 5px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    0px 7px 5px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         0px 7px 5px 0px rgba(50, 50, 50, 0.75);
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2%;
    border-radius: 100px;
    background: url('../images/me_chair.JPG') no-repeat;
}

aside div.about {
    text-align: justify;
    width: 89%;
    margin-left: 5%;
    margin-right: 5%;
}

#freepik {
    margin-top: 2%;
    text-align: center;
    font-size: .7em;
}


@media (max-width: 500px) {
    .login-container {
        display: none;
    }

    aside {
        margin-top: 8%;
    }
}

@media (min-width: 510px) {
    aside {

    }
}

@media (min-width: 510px) and (max-width: 1629px) {
    aside {
        position: relative;
        height: 250px;
    }

    #my-picture {
        position: relative;
        display: inline-block;
        float: right;
        margin-left: 2%;
        margin-right: 2%;
    }

    aside div.about {
        position: relative;
        display: inline-block;
        width: 45%
    }
}

@media (min-width: 672px) {
    aside {
        width: 650px;
        border-radius: 10px;
        margin-left: auto;
        margin-right: auto;
    }
}


@media (max-width: 800px) {
    header {
        position: absolute;
    }

    .blog-post .body, .comment-body {
        text-align: justify;
    }
}

@media (min-width: 1119px) {
    .blog-post, #comments {
        width: 1062px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (min-width: 1630px) {
    .blog-post, #comments {
        width: 1062px;
        margin-left: 5%;
        margin-right: auto;
    }

    aside {
        position: absolute;
        left: 1100px;
        top: 0;
        margin-left: 13%;
        margin-right:5%;
        margin-top: 0;
        margin-bottom: 0;
        width: auto;
    }

    aside .about {
        max-width: 360px;
        text-align: left;
    }

}
